/* colors
    pri bg #121212
    sec bg #000000
    ter bg #282828
    pri text #FFFFFF
    sec text #B3B3B3
    selected accent #282828
*/

@font-face{
    font-family: "spotify"; 
    font-weight: normal;
    src: url("spotify-font/spotify-font.ttf");
}

.root{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "spotify";
    background-color: #121212;
}
/* .main_container{
} */

.login_container{
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    width: 20%;
}

.login_container .logo{
    width: 80%;
    height: auto;
    margin-bottom: 24px;
}

.login_container .loginBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    border-radius: 50px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    background-color: #1DB954;
    color: #FFF;
    transition: background-color ease-in 0.20s;
}

.login_container .loginBtn:hover{
    background-color: rgb(38, 218, 101);
}

@media (max-width: 1000px){
    .login_container{
        width: 65%;
    }
}